@charset "UTF-8";

/* 制作用プロパティ */
/*
* {
	border: solid 1px red;
}
*/
html, body {
	height: 100%;
}

body * {
	box-sizing: border-box;
}

body, input[value], button {
	font-family: "Meiryo UI", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #555560;
}

body {
	display: flex;
	flex-direction: column;
	/* 開発用設定 */
	/*
		background: #000;
	*/
	/* 本番設定 */
	background: #FFF;
}

.main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	/* 開発用設定 */
	/*
		background: #FFAA00;
	*/
}

.main_body {
	display: flex;
	width: 80%;
	/* 開発用設定 */
	/*
		background: #DD5555;
	*/
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	flex-grow: 1;
}

.main_image {
	width: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
	/* 開発用設定 */
	/*
		background: #EEEE80 url('../../images/img_top.png') no-repeat center/100%;
	*/
	/* 背景色、背景画像、繰り返しの指定、位置、サイズの指定 */
	background: url('../../images/img_top.png') no-repeat center/100%;
}

.loginform_area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	/* 開発用設定 */
	/*
		background: #2277CC;
	*/
}

.loginform {
	padding: 20px 30px 15px;
	border-radius: 30px;
	/* 開発用設定 */
	/*
		background: #EEE;
	*/
	background: #90acdc;
}

.logo {
	height: 25px;
	width: 25px;
	margin: 0 auto;
	background: url('../../images/ic_local_cafe_white_48dp.png') no-repeat
		center/100%;
}

.loginform input {
	display: block;
	margin: 18px auto;
	padding: 12px;
	font-size: 0.8em;
	color: #FFF;
	border: 0;
	background: rgba(255, 255, 255, 0.25);
}

.loginform #login_button {
	display: block;
	width: 100%;
	border-radius: 5px;
	color: #FFF;
	font-size: 0.9em;
	background: rgba(90, 124, 200, 0.8);
	box-shadow: 0px 5px 3px -2px rgba(100, 100, 120, 0.25);
}

footer {
	display: flex;
	align-items: center;
	height: 70px;
	/* 開発用設定 */
	/*
		background: #55DD55;
	*/
}

.footer_body {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	height: 38px;
	background: rgba(120, 150, 220, 0.25);
}

.footer_body p {
	margin: 0 20px;
	color: #FFF;
	font-size: 0.9em;
}

@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（タブレット用） */
	* {
		border: none;
		/*
			border: solid 1px blue;
		*/
	}
	.main_body {
		width: 100%;
	}
	.main_image {
		display: none;
	}
	.loginform_area * {
		display: block;
		width: 100%;
	}
	.loginform {
		height: 100%;
		width: 85%;
		padding: 30px 0;
		border: 0;
		border-radius: 0;
		background: url('../../images/img_top.png') no-repeat center/100%;
	}
	.loginform input {
		margin: 10px auto;
		height: 50px;
	}
	.loginform #login_id, .loginform #login_pass {
		background: rgba(255, 255, 255, 0.8);
	}
	.loginform #login_button {
		background: rgba(102, 136, 255, 0.8);
	}
}