@charset "UTF-8";

html, body {
	height: 100%;
}

body * {
	box-sizing: border-box;
}

body, input[value], button {
	font-family: "Meiryo UI", "Yu Gothic", "メイリオ", sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #555560;
}

body {
	display: flex;
	flex-direction: column;
	background: #FFF;
}

.main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.main_body {
	display: flex;
	width: 80%;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	flex-grow: 1;
}

.main_image {
	width: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
	/* 背景色、背景画像、繰り返しの指定、位置、サイズの指定 */
	background: url('../../images/img_top04.png') no-repeat center/80%;
}

.loginform_area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	background: #2277CC;
}

.loginform {
	padding: 35px 45px 23px;
	border-radius: 50px;
	background: #90acdc;
}

.logo {
	height: 30px;
	width: 30px;
	margin: 0 auto;
	background: url('../../images/ic_local_cafe_white_48dp.png') no-repeat
		center/100%;
}

.loginform input {
	display: block;
	margin: 20px auto;
	padding: 17px;
	font-size: 0.8em;
	color: #FFF;
	border: 0;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0px 5px 3px -2px rgba(100, 100, 120, 0.25);
}

.loginform #login_button {
	display: block;
	width: 100%;
	border-radius: 5px;
	color: #FFF;
	font-size: 0.9em;
	background: rgba(90, 124, 200, 0.8);
}

footer {
	height: 63px;
}

.footer_body {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 38px;
	background: rgba(172, 196, 228, 0.6);
}

.footer_body p {
	margin: 0 20px;
	color: #FFF;
	font-size: 0.9em;
}

@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（タブレット用） */
	* {
		border: none;
	}
	body {
		background: #90acdc;
	}
	.main_body {
		width: 100%;
	}
	.main_image {
		display: none;
	}
	.loginform_area * {
		display: block;
	}
	.logo {
		margin: 0 auto 32px;
		width: 45px;
		height: 45px;
	}
	.loginform {
		height: 100%;
		width: 85%;
		padding: 20px 0;
		border: 0;
		border-radius: 0;
		background: url('../../images/img_top04.png') no-repeat center/90%;
	}
	.loginform input {
		padding: 22px;
		width: 100%;
	}
	.loginform #login_id, .loginform #login_pass {
		background: rgba(255, 255, 255, 0.32);
		text-shadow: 1px 1px 0 #bbb;
	}
	.loginform #login_button {
		background: rgba(90, 124, 200, 0.8);
	}
	.footer_body {
		justify-content: center;
		background: rgba(255, 255, 255, 0.25);
	}
}