<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../static/css/login.css">

<title>ログイン画面(画面モック)</title>
</head>
<body>
	<div class="page_all">
		<header class="header">
			<div class="header_title">header</div>
		</header>
		<div class="page_main">

			<div class="img_loginTop"></div>
			<div class="login_form">
				<form action="" method="">
					<input type="text" value="value">
				</form>
			</div>
		</div>
		<div class="footer">footer!</div>
	</div>
</body>
</html>