<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 下記metaタグ=レスポンシブ対応 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
<link rel="stylesheet" type="text/css" href="../../static/css/login.css">

<title>ログイン画面(画面モック)</title>
</head>
<body>
	<!-- メイン部分 -->
	<section class="main">
		<div class="main_body">
			<div class="content">
				<div class="main_image"></div>
				<div class="loginform_area">
					<div class="loginform">
						<form>

							<input id="login_id" type="text" value="loginID"> <input
								id="login_pass" type="text" value="password"> <input
								id="login_button" type="submit" value="ログイン">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- フッター -->
	<footer>
		<div class="footer_body">
			<p>footer!</p>
		</div>
	</footer>
</body>
</html>