<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../static/css/login.css">

<title>ログイン画面(画面モック)</title>
</head>
<body>

	<!-- メイン部分 -->
	<section class="main">
		<div class="main_body">
			<div class="content">
				<div class="main_img">
					<p>image</p>
				</div>
				<div class="login_form">
					<p>form</p>
				</div>
			</div>
		</div>
	</section>

	<!-- フッター -->
	<footer>
		<div class="footer_body">
			<p>footer!</p>
		</div>
	</footer>
</body>
</html>